	<!-- CLIENT SECTION --> 
	<div class="section stat-client p-main bg-client">
		<div class="container">
			<div class="row">
					<div class="page-title">
						<h2 class="lead">OUR SPONSORS</h2>
					</div>

				
				<div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
					<div class="client-img">
						<img src="/images/165x85.png" alt="" class="img-responsive" />
					</div>
				</div>
				
				<div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
					<div class="client-img">
						<img src="/images/165x85.png" alt="" class="img-responsive" />
					</div>
				</div>
				
				<div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
					<div class="client-img">
						<img src="/images/165x85.png" alt="" class="img-responsive" />
					</div>
				</div>
				
				<div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
					<div class="client-img">
						<img src="/images/165x85.png" alt="" class="img-responsive" />
					</div>
				</div>
				
				<div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
					<div class="client-img">
						<img src="/images/165x85.png" alt="" class="img-responsive" />
					</div>
				</div>
				
				<div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
					<div class="client-img">
						<img src="/images/165x85.png" alt="" class="img-responsive" />
					</div>
				</div>

					<div class="page-title">
						<h2 class="lead">BECOME ONE OF OUR SPONSORS</h2>
					</div>
	
				
			</div>
		</div>
	</div>
