	<!-- SHOP SECTION -->
	<div class="section singlepage" >
		<div class="container">
			
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="page-title">
						<h2 class="lead">CONTACT CLUB</h2>
						<div class="border-style"></div>
						<div class="page-description">
							<p><strong>This our Head Office contact about Club, Ticket, Our Store and Our Media.</strong></p>
						</div>
					</div>
				</div>
			</div>
			
			
			<div class="row">
			
				<div class="col-sm-12 col-md-12">
				
					<div class="maps-wraper">
						<div id="cd-zoom-in"></div>
						<div id="cd-zoom-out"></div>
						<div id="maps" class="maps" data-lat="-7.452278" data-lng="112.708992" >
							
						</div>
					</div>
					
				</div>
				
				<div class="contact-content">
				
					<div class="col-sm-12 col-md-7">
						<div class="form-question">
							<p class="contact-title">QUESTION</p>
							<p>We will contact after you send us message, don't worry we save your contact details.</p>
							<br />
							<form action="#" class="form-contact shake form-horizontal" id="contactForm"  data-toggle="validator">
								<div class="form-group">
									<label for="name" class="col-sm-4 control-label">Your Name (required)</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="name" placeholder="Enter Name *" required>
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="form-group">
									<label for="subject" class="col-sm-4 control-label">Subject</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="subject" placeholder="Subject">
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="form-group">
									<label for="email" class="col-sm-4 control-label">Your Email (required)</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="email" placeholder="Enter Email *" required>
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="form-group">
									<label for="phone" class="col-sm-4 control-label">Cell Phone</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="phone" placeholder="Enter Phone Number">
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="form-group">
									<label for="message" class="col-sm-4 control-label">Message</label>
									<div class="col-sm-8">
										<textarea id="message" class="form-control" rows="5" placeholder="Enter Your Message"></textarea>
										<div class="help-block with-errors"></div>
									</div>
								</div>
								
								<div class="form-group">
									<div class="col-sm-offset-4 col-sm-8">
										<button type="submit" class="btn btn-default">SEND A MESSAGE</button>
									</div>
									<div id="success"></div>
								</div>
							</form>

						</div>
					</div>
					
					<div class="col-sm-12 col-md-5">
						<div class="contact-address">
						
							<div class="row">
								<div class="col-sm-12 col-md-5">
									<div class="contact-address-item">
										<p class="contact-title">HEAD OFFICE</p>
										<p class="contact-address-heading">Address</p>
										<p>
										4125 Tuah Karya, Panam,<br />
										Pekanbaru<br />
										Riau 28292
										</p>
										<br />
										
										<p class="contact-address-heading">Phone</p>
										<p>
										+62 8018 2817 1281<br />
										+62 8901 8108 3820
										</p>
										<br />
										<p class="contact-address-heading">Working Hours</p>
										<p>
										SUN - MON &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 09:00 - 22:00<br />
										FRIDAY  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; We Closed
										</p>
										<br />
									</div>
								</div>
								<div class="col-sm-12 col-md-7">
									<img src="http://placehold.it/715x875" alt="" class="img-responsive" />
								</div>
							</div>
							
							<div class="row">
								<div class="col-sm-12 col-md-5">
									<div class="contact-address-item">
										<p class="contact-title">OUR STORE</p>
										<p class="contact-address-heading">ADDRESS</p>
										<p>
										4125 Tuah Karya, Panam,<br />
										Pekanbaru<br />
										Riau 28292
										</p>
										<br />
										
										<p class="contact-address-heading">Phone</p>
										<p>
										+62 8018 2817 1281<br />
										+62 8901 8108 3820
										</p>
										<br />
										<p class="contact-address-heading">Working Hours</p>
										<p>
										SUN - MON &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 09:00 - 22:00<br />
										FRIDAY  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; We Closed
										</p>
										<br />
									</div>
								</div>
								<div class="col-sm-12 col-md-7">
									<img src="http://placehold.it/715x875" alt="" class="img-responsive" />
								</div>
							</div>
							
						</div>
					</div>
					
				</div>
				
			</div>
			
		</div>
	</div>

