	<!-- MATCH FACTS --> 
	<div class="section stat-facts">
		<div class="bg-overlay">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-10 col-md-offset-1">
						<div class="row">
							
							<div class="col-sm-4 col-md-4">
								<div class="match-club">
									<img src="/images/150x150.jpg" alt="" />
									<div class="club-name">PROSOCCER</div>
								</div>
							</div>
							
							<div class="col-sm-4 col-md-4">
								<div class="match-description">
									<div class="liga-name">LIGA PREMIERE</div>
									<div class="liga-date">JUNE 16, 17:00</div>
									<div class="liga-vs">VS</div>
									<div class="liga-location">STADION JAKABARING<br />PEKANBARU</div>
								</div>
							</div>
							
							<div class="col-sm-4 col-md-4">
								<div class="match-club">
									<img src="/images/150x150.jpg" alt="" />
									<div class="club-name">JUPENTUS</div>
								</div>
							</div>
							
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
