	<!-- GALLERY SECTION -->
	<div class="section singlepage" >
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="page-title">
						<h2 class="lead">LATEST PHOTO</h2>
						<div class="border-style"></div>
						<div class="page-description">
							<p><strong>PRO SOCCER FC .inc</strong> Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse, aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis. Commodo enim aliquam suspendisse tortor cum diam, commodo facilisis, rutrum et duis nisl porttitor, vel eleifend odio ultricies ut, orci in adipiscing felis velit nibh.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row popup-gallery">
				<div class="col-xs-4 col-sm-3 col-md-3">
					<div class="w-item">
						<a href="http://placehold.it/768x510" title="Gallery #1">
							<img src="http://placehold.it/768x510" alt="" class="img-responsive" />
							<div class="project-info">
								<div class="project-icon">
									<span class="fa fa-search"></span>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-xs-4 col-sm-3 col-md-3">
					<div class="w-item">
						<a href="http://placehold.it/768x510" title="Gallery #2">
							<img src="http://placehold.it/768x510" alt="" class="img-responsive" />
							<div class="project-info">
								<div class="project-icon">
									<span class="fa fa-search"></span>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-xs-4 col-sm-3 col-md-3">
					<div class="w-item">
						<a href="http://placehold.it/768x510" title="Gallery #3">
							<img src="http://placehold.it/768x510" alt="" class="img-responsive" />
							<div class="project-info">
								<div class="project-icon">
									<span class="fa fa-search"></span>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-xs-4 col-sm-3 col-md-3">
					<div class="w-item">
						<a href="http://placehold.it/768x510" title="Gallery #4">
							<img src="http://placehold.it/768x510" alt="" class="img-responsive" />
							<div class="project-info">
								<div class="project-icon">
									<span class="fa fa-search"></span>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-xs-4 col-sm-3 col-md-3">
					<div class="w-item">
						<a href="http://placehold.it/768x510" title="Gallery #5">
							<img src="http://placehold.it/768x510" alt="" class="img-responsive" />
							<div class="project-info">
								<div class="project-icon">
									<span class="fa fa-search"></span>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-xs-4 col-sm-3 col-md-3">
					<div class="w-item">
						<a href="http://placehold.it/768x510" title="Gallery #6">
							<img src="http://placehold.it/768x510" alt="" class="img-responsive" />
							<div class="project-info">
								<div class="project-icon">
									<span class="fa fa-search"></span>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-xs-4 col-sm-3 col-md-3">
					<div class="w-item">
						<a href="http://placehold.it/768x510" title="Gallery #1">
							<img src="http://placehold.it/768x510" alt="" class="img-responsive" />
							<div class="project-info">
								<div class="project-icon">
									<span class="fa fa-search"></span>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-xs-4 col-sm-3 col-md-3">
					<div class="w-item">
						<a href="http://placehold.it/768x510" title="Gallery #1">
							<img src="http://placehold.it/768x510" alt="" class="img-responsive" />
							<div class="project-info">
								<div class="project-icon">
									<span class="fa fa-search"></span>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-xs-4 col-sm-3 col-md-3">
					<div class="w-item">
						<a href="http://placehold.it/768x510" title="Gallery #1">
							<img src="http://placehold.it/768x510" alt="" class="img-responsive" />
							<div class="project-info">
								<div class="project-icon">
									<span class="fa fa-search"></span>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-xs-4 col-sm-3 col-md-3">
					<div class="w-item">
						<a href="http://placehold.it/768x510" title="Gallery #2">
							<img src="http://placehold.it/768x510" alt="" class="img-responsive" />
							<div class="project-info">
								<div class="project-icon">
									<span class="fa fa-search"></span>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-xs-4 col-sm-3 col-md-3">
					<div class="w-item">
						<a href="http://placehold.it/768x510" title="Gallery #3">
							<img src="http://placehold.it/768x510" alt="" class="img-responsive" />
							<div class="project-info">
								<div class="project-icon">
									<span class="fa fa-search"></span>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-xs-4 col-sm-3 col-md-3">
					<div class="w-item">
						<a href="http://placehold.it/768x510" title="Gallery #4">
							<img src="http://placehold.it/768x510" alt="" class="img-responsive" />
							<div class="project-info">
								<div class="project-icon">
									<span class="fa fa-search"></span>
								</div>
							</div>
						</a>
					</div>
				</div>
				
			</div>
			
			<div class="loadmore">
				<a href="#" title="">See More</a>
			</div>
			
		</div>
	</div>
