	<!-- CLUB HISTORY SECTION -->
	<div class="section history">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="page-title">
						<h2 class="lead">CLUB HISTORY</h2>
						<div class="border-style"></div>
						<div class="page-description">
							<p><strong>PRO SOCCER FC .inc</strong> Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse, aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis. Commodo enim aliquam suspendisse tortor cum diam, commodo facilisis, rutrum et duis nisl porttitor, vel eleifend odio ultricies ut, orci in adipiscing felis velit nibh.</p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
			
				<div class="col-sm-12 col-md-12">
					<div class="nav-history">
						
					</div>
					
					<div id="history-caro" class="history-caro owl-carousel owl-theme">
				
						<div class="item history-item">
							<div class="gambar">
								<img src="http://placehold.it/600x400" alt="" class="img-responsive">
							</div>
							<div class="item-body">
								<div class="title" data-year="1980">
									SCUDETO 1980
								</div>
								<p><strong>PRO SOCCER FC .inc</strong> Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse, aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis. Sollicitudin viverra, vel varius eget sit mollis. Commodo enim aliquam suspendisse tortor cum diam, commodo facilisis, rutrum et duis nisl porttitor, vel eleifend odio ultricies ut, orci in adipiscing felis velit nibh.</p>
							</div>
						</div>
						<div class="item history-item">
							<div class="gambar">
								<img src="http://placehold.it/600x400" alt="" class="img-responsive">
							</div>
							<div class="item-body">
								<div class="title" data-year="1990">
									UEFA Champions League 1990
								</div>
								<p><strong>PRO SOCCER FC .inc</strong> Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse, aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis. Sollicitudin viverra, vel varius eget sit mollis. Commodo enim aliquam suspendisse tortor cum diam, commodo facilisis, rutrum et duis nisl porttitor, vel eleifend odio ultricies ut, orci in adipiscing felis velit nibh.</p>
							</div>
						</div>
						<div class="item history-item">
							<div class="gambar">
								<img src="http://placehold.it/600x400" alt="" class="img-responsive">
							</div>
							<div class="item-body">
								<div class="title" data-year="1995">
									SCUDETO 1995
								</div>
								<p><strong>PRO SOCCER FC .inc</strong> Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse, aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis. Sollicitudin viverra, vel varius eget sit mollis. Commodo enim aliquam suspendisse tortor cum diam, commodo facilisis, rutrum et duis nisl porttitor, vel eleifend odio ultricies ut, orci in adipiscing felis velit nibh.</p>
							</div>
						</div>
						<div class="item history-item">
							<div class="gambar">
								<img src="http://placehold.it/600x400" alt="" class="img-responsive">
							</div>
							<div class="item-body">
								<div class="title" data-year="2001">
									SCUDETO 2001
								</div>
								<p><strong>PRO SOCCER FC .inc</strong> Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse, aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis. Sollicitudin viverra, vel varius eget sit mollis. Commodo enim aliquam suspendisse tortor cum diam, commodo facilisis, rutrum et duis nisl porttitor, vel eleifend odio ultricies ut, orci in adipiscing felis velit nibh.</p>
							</div>
						</div>
						<div class="item history-item">
							<div class="gambar">
								<img src="http://placehold.it/600x400" alt="" class="img-responsive">
							</div>
							<div class="item-body">
								<div class="title" data-year="2012">
									SCUDETO 2012
								</div>
								<p><strong>PRO SOCCER FC .inc</strong> Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse, aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis. Sollicitudin viverra, vel varius eget sit mollis. Commodo enim aliquam suspendisse tortor cum diam, commodo facilisis, rutrum et duis nisl porttitor, vel eleifend odio ultricies ut, orci in adipiscing felis velit nibh.</p>
							</div>
						</div>
						<div class="item history-item">
							<div class="gambar">
								<img src="http://placehold.it/600x400" alt="" class="img-responsive">
							</div>
							<div class="item-body">
								<div class="title" data-year="2015">
									SCUDETO 2015
								</div>
								<p><strong>PRO SOCCER FC .inc</strong> Lorem ipsum dolor sit amet, libero turpis non cras ligula, id commodo, aenean est in volutpat amet sodales, porttitor bibendum facilisi suspendisse, aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis. Sollicitudin viverra, vel varius eget sit mollis. Commodo enim aliquam suspendisse tortor cum diam, commodo facilisis, rutrum et duis nisl porttitor, vel eleifend odio ultricies ut, orci in adipiscing felis velit nibh.</p>
							</div>
						</div>
						
					</div>
			
					
				</div>
			</div>
			
			
		</div>
	</div>
