  <nav class="mobile-menu">
    <div class="inner">
      <div class="mobile-search">
        <h6>Type movie or tv show name to find it</h6>
          <form>
            <input type="search" placeholder="Search here">
            <input type="submit" value="FIND">
          </form>
      </div>
      <!-- end mobile-search -->
      <a href="/account" class="button-account"><i class="lni lni-user"></i> ACCOUNT </a>
      <!-- end button-account --> 
      <div class="site-menu">
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="/movies">MOVIES</a></li>
          <li><a href="/tv-shows">TV SHOWS</a></li>
          <li><a href="/k-drama">K DRAMA</a></li>
          <li><a href="/tips">TIPS</a></li>
        </ul>
      </div>
      <!-- end site-menu -->
    </div>
    <!-- end inner -->
  </nav>
  <!-- end mobile-menu -->
