	<!-- NAVBAR SECTION -->
	<div class="navbar navbar-main navbar-fixed-top">
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
						<div class="info">
							<h3>News : </h3>
							<div class="info-item">
								<div> Brakpan Bush Bucks could get the last laugh.</div>
								<div> Benoni Sparrows dissapoint Bayern's summer plans.</div>
								<div> Boksburg Swallows players who cost more than a ship.</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
						<div class="top-sosmed pull-right">
							<a href="#" title=""><span class="fa fa-facebook"></span></a>
							<a href="#" title=""><span class="fa fa-twitter"></span></a>
							<a href="#" title=""><span class="fa fa-instagram"></span></a>
							<a href="#" title=""><span class="fa fa-pinterest"></span></a>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><img src="/images/logo.png" alt="Brakpan Bush Bucks FC" /></a>
				
			</div>
			<nav class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/">HOME</a></li>
					<li><a href="/about">ABOUT</a></li>
					<li><a href="/team">TEAM</a></li>
					<li><a href="/gallery">GALLERY</a></li>
					<li><a href="/news">NEWS</a></li>
					<li><a href="/shop">SHOP</a></li>
					<li><a href="/contact">CONTACT</a></li>
				</ul>
			</nav>
		</div>
    </div>
