	<!-- OUR PLAYER SECTION -->
	<div class="section player" >
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="page-title">
						<h2 class="lead">OUR PLAYERS</h2>
						<div class="border-style"></div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div id="player-caro" class="owl-carousel owl-theme">
				
				{% for teamdata in teamdatas %}
					<div class="item player-item">
						<div class="gambar">
							<img src="{{ teamdata.image }}" alt="" class="img-responsive">
						</div>
						<div class="item-body">
							<div class="name">{{ teamdata.name }}</div>
							<div class="position">
								<span class="cf">CF</span> {{ teamdata.position }}
							</div>
						</div>
					</div>
				{% endfor %}
					
				</div>
			</div>
			
			<div class="player-pagination pagination">
				
				<a href="/team" title="">View Team</a>
			</div>
			
		</div>
	</div>
