	<!-- SHOP SECTION -->
	<div class="section singlepage" >
		<div class="container">
			
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="page-title">
						<h2 class="lead">RECENT PRODUCTS</h2>
						<div class="border-style"></div>
					</div>
				</div>
			</div>
			
			<div class="row pbot-main">
			
				<div class="col-sm-12 col-md-3">
					<div class="sidenav">
						<h4 class="sidenav-heading">CATEGORY</h4>
						<a href="#" title="" class="active">SHIRTS</a>
						<a href="#" title="">SHORTS</a>
						<a href="#" title="">SOUVERNIRS</a>
						<a href="#" title="">TRAINING</a>
					</div>
				</div>
			
			
				<div class="col-sm-12 col-md-9">
					
					<div class="row">
						<div class="col-sm-12 col-md-4">
							<div class="shop-item">
								<div class="gambar">
									<img src="http://placehold.it/715x875" alt="" class="img-responsive">
								</div>
								<div class="item-body">
									<div class="name">
										HOME SHIRTS 2016
									</div>
									<div class="price">
										$ 45.00
										
										<a href="#" title="" class="shop-buy">BUY</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-4">
							<div class="shop-item">
								<div class="gambar">
									<img src="http://placehold.it/715x875" alt="" class="img-responsive">
								</div>
								<div class="item-body">
									<div class="name">
										HOME SHIRTS 2016
									</div>
									<div class="price">
										$ 45.00
										
										<a href="#" title="" class="shop-buy">BUY</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-4">
							<div class="shop-item">
								<div class="gambar">
									<img src="http://placehold.it/715x875" alt="" class="img-responsive">
								</div>
								<div class="item-body">
									<div class="name">
										HOME SHIRTS 2016
									</div>
									<div class="price">
										$ 45.00
										
										<a href="#" title="" class="shop-buy">BUY</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-4">
							<div class="shop-item">
								<div class="gambar">
									<img src="http://placehold.it/715x875" alt="" class="img-responsive">
								</div>
								<div class="item-body">
									<div class="name">
										HOME SHIRTS 2016
									</div>
									<div class="price">
										$ 45.00
										
										<a href="#" title="" class="shop-buy">BUY</a>
									</div>
								</div>
							</div>
						</div>
						
					
					</div>
					
					
					
					<ul class="pagination">
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
					</ul>
					
				</div>
				
			</div>
			
			
			
		</div>
	</div>
