  <section class="content-section" data-background="images/section-pattern01.png">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-7">
          <div class="testimonial">
            <h2>Trusted by tech experts and real users </h2>
            <blockquote>“As VPN services go, it's hard to beat NordVPN. It
              has a large and diverse collection of servers, an
              excellent collection of advanced features, strong
              privacy and security ”</blockquote>
            <figure> <img src="images/avatar01.jpg" alt="Image"> <img src="images/brand01.jpg" alt="Image"> </figure>
            <h6>Max Eddy <br>
              <small>Software analyst, PCMag</small> </h6>
          </div>
          <!-- end testimonial --> 
        </div>
        <!-- end col-7 -->
        <div class="col-lg-5">
          <figure class="side-image"> <img src="images/side-image02.png" alt="Image"> </figure>
          <!-- end side-image --> 
        </div>
        <!-- end col-5 --> 
      </div>
      <!-- end row --> 
    </div>
    <!-- end container --> 
  </section>
  <!-- end content-section -->
