  <section class="content-section">
    <div class="container">
      <div class="row">
		 <div class="col-12">
          <div class="section-title text-center">
            <h2>What is streaming</h2>
			  <p>world’s largest ad-supported video on demand service with over 20,000 movies <br>
and television shows from nearly every major Hollywood studio.</p>
          </div>
          <!-- end section-title --> 
        </div>
        <!-- end col-12 -->
		  <div class="col-md-4">
		  	<div class="icon-box">
			  	<figure>
				<img src="/images/icon01.png" alt="Image">
				</figure>
				<h5>Access while<br>
traveling</h5>
				<p>Keep access to your entertainment 
content while roaming the world.Pick 
from thousands.</p>
			  </div>
			  <!-- end icon-box -->
		  </div>
		  <!-- end col-4 -->
		  <div class="col-md-4">
		  	<div class="icon-box">
			  	<figure>
				<img src="/images/icon02.png" alt="Image">
				</figure>
				<h5>Stay secure at <br>
all times</h5>
				<p>Securely access and enjoy your 
favorite content,even on public 
Wi-Fi. Your connection</p>
			  </div>
			  <!-- end icon-box -->
		  </div>
		  <!-- end col-4 -->
		  <div class="col-md-4">
		  	<div class="icon-box">
			  	<figure>
				<img src="/images/icon03.png" alt="Image">
				</figure>
				<h5>Stream with no<br>
interruptions
</h5>
				<p>Pause for snacks, not buffering. 
Stream smoothly with our lightning-fast 
NordLynx protocol network.</p>
			  </div>
			  <!-- end icon-box -->
		  </div>
		  <!-- end col-4 -->
		</div>
      <!-- end row --> 
    </div>
    <!-- end container --> 
  </section>
  <!-- end content-section -->
	<section class="content-section" data-background="/images/section-bg01.jpg">
	<div class="container">
		<div class="row">
		
			<div class="col-lg-5 col-md-8">
				<div class="cta-form">
				<h6>Channel Newsletter</h6>
					<h2>See it First</h2>
					<form>
					<input type="email" placeholder="Email Address.">
						<input type="submit" value="GET STARTED">
					</form>
				</div>
				<!-- end cta-form -->
	 </div>
		  <!-- end col-5 -->
		</div>
      <!-- end row --> 
    </div>
    <!-- end container --> 
  </section>
  <!-- end content-section -->
	<section class="content-section">
	<div class="container">
		<div class="row justify-content-center">
				 <div class="col-12">
          <div class="section-title text-center">
			  <h6>COMPANY MEMBERS</h6>
            <h2>Co-Founders</h2>
          </div>
          <!-- end section-title --> 
        </div>
        <!-- end col-12 -->
			<div class="col-lg-4 col-md-6">
			<div class="member-box">
				<figure>
				<img src="/images/team01.jpg" alt="Image" class="image">
					<figcaption><img src="/images/brand01.jpg" alt="Image"></figcaption>
				</figure>
				<h5>Atidaishe Mbanje</h5>
				<small>Eniac, Video Streams</small>
				<ul>
				<li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
				<li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
				<li><a href="#"><i class="lni lni-instagram-original"></i></a></li>
				<li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
				</ul>
				</div>
				<!-- end member-box -->
			</div>
			<!-- end col-4 -->
			<div class="col-lg-4 col-md-6">
			<div class="member-box">
				<figure>
				<img src="/images/team02.jpg" alt="Image" class="image">
					<figcaption><img src="/images/brand01.jpg" alt="Image"></figcaption>
				</figure>
				<h5>Chichi Mbanje</h5>
				<small>Adam(Atom), Video Streams</small>
				<ul>
				<li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
				<li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
				<li><a href="#"><i class="lni lni-instagram-original"></i></a></li>
				<li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
				</ul>
				</div>
				<!-- end member-box -->
			</div>
			<!-- end col-4 -->
			<div class="col-lg-4 col-md-6">
			<div class="member-box">
				<figure>
				<img src="/images/team03.jpg" alt="Image" class="image">
					<figcaption><img src="/images/brand01.jpg" alt="Image"></figcaption>
				</figure>
				<h5>Panashe Mbanje</h5>
				<small>Able, Video Streams</small>
				<ul>
				<li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
				<li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
				<li><a href="#"><i class="lni lni-instagram-original"></i></a></li>
				<li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
				</ul>
				</div>
				<!-- end member-box -->
			</div>
			<!-- end col-4 -->
		</div>
      <!-- end row --> 	
    </div>
    <!-- end container --> 
  </section>
  <!-- end content-section -->
	<section class="content-section" data-background="/images/section-bg02.jpg">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="cta-box">
				<h2>Anytime Anywhere</h2>
					<p>Watch on your PC, Mac, iPhone, iPad, Apple TV, Android, Playstation, <br>
Roku, and Samsung Smart TV.</p>
					<a href="#" class="custom-button">GET STARTED</a>
				</div>
				<!-- end cta-box -->
		</div>
			<!-- end col-12 -->
		</div>
      <!-- end row --> 	
    </div>
    <!-- end container --> 
  </section>
  <!-- end content-section -->
	<section class="content-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
			<div class="testimonial">
            <h2>Tech experts users </h2>
            <blockquote>“As VPN services go, it's hard to beat NordVPN. It
              has a large and diverse collection of servers, an
              excellent collection of advanced features, strong
              privacy and security ”</blockquote>
            <figure> <img src="/images/avatar01.jpg" alt="Image"> <img src="/images/brand01.jpg" alt="Image"> </figure>
            <h6>Max Eddy <br>
              <small>Software analyst, PCMag</small> </h6>
          </div>
			</div>
			<!-- end col-6 -->
			<div class="col-lg-6">
			<div class="testimonial">
            <h2>Advanced features </h2>
            <blockquote>“It
              has a large and diverse collection of servers, an
              excellent collection of advanced features, strong
              privacy and security As VPN services go, it's hard to beat NordVPN. ”</blockquote>
            <figure> <img src="/images/avatar02.jpg" alt="Image"> <img src="/images/brand01.jpg" alt="Image"> </figure>
            <h6>Max Eddy <br>
              <small>Software analyst, PCMag</small> </h6>
          </div>
			</div>
			<!-- end col-6 -->
		</div>
      <!-- end row --> 	
    </div>
    <!-- end container --> 
  </section>
  <!-- end content-section -->
