	<!-- VIDEO SECTION -->
	<div class="section video bg-section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="page-title">
						<h2 class="lead">LATEST VIDEO</h2>
						<div class="border-style"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-8 col-md-offset-2">
					<!-- 16:9 aspect ratio -->
					<div class="embed-responsive embed-responsive-16by9">
					  <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/8F5V7RkZDbw"></iframe>
					</div>

				</div>
				
			</div>
			
		</div>
	</div>
