---
layout: layouts/base.njk
---
	  {% include "components/banner.njk" %} 
 	  {% include "components/about.njk" %} 
	  {% include "components/facts.njk" %} 
 	  {% include "components/players.njk" %}                
 	  {% include "components/video.njk" %}
 	  {% include "components/gallery.njk" %} 
 	  {% include "components/blog.njk" %} 
	  {% include "components/client.njk" %}

